@model StarCinema.Models.CRUDModels.CinemaModels.ChooseCinemaForBookingViewModel

@{
    ViewData["Title"] = "Search cinema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h2><i class="glyphicon glyphicon-th-lis"></i>Choose cinema</h2>
        <hr />
    </div>
</div>

@if (!Model.Cinemas.Any())
{
    <h2>No results found</h2>
}

@foreach (var cinema in Model.Cinemas)
{
    <div class="row list-movie-panel">
        <div class="col-md-8">
            <h2><i class="glyphicon glyphicon-film"></i> @cinema.City, @cinema.Street, @cinema.BuildingNumber</h2>
            <h4>
                <i class="glyphicon glyphicon-th"></i> Halls number: @cinema.CinemaHallsCount
            </h4>
        </div>
        <div class="col-md-4">
            <br />
            <form method="get" asp-action="ShowsForBooking" asp-controller="Show">
                <input type="hidden" name="movieId" value="@Model.MovieId" />
                <input type="hidden" name="cinemaId" value="@cinema.Id" />
                <button class="btn btn-success btn-big delete"> <i class="glyphicon glyphicon-ok"></i> CHOOSE CINEMA</button>
            </form>
            <br />
        </div>
    </div>
    <br />
}                