@model StarCinema.Models.CRUDModels.CinemaModels.AddCinemaViewModel
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_CRUDLayout.cshtml";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">


        <form class="form app-form" method="post" asp-action="CreateCinema" asp-controller="Cinema">
            <h2 class="app-form-h2"> <i class="glyphicon glyphicon-plus"></i> ADD CINEMA</h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <select class="app-form-select" asp-for="@Model.Address.City" asp-items="@Model.AllCities"></select>
            </div>
            <div class="form-group">
                <input class="app-form-input" value="" placeholder="Street" asp-for="@Model.Address.Street" />
            </div>
            <div class="form-group">
                <input class="app-form-input" value="" placeholder="Postal code" asp-for="@Model.Address.PostalCode" />
            </div>
            <div class="form-group">
                <input class="app-form-input" value="" placeholder="Building number" asp-for="@Model.Address.BuildingNumber" />
            </div>
            <div class="form-group">
                <h4 class="app-form-h4">Halls count:</h4>
                <input type="range" min="1" max="10" value="3" asp-for="@Model.HallsCount" class="slider" id="cinemaHallsCountSlider">
                <h4 id="showCinemaHallsCount" class="app-form-h4"></h4>
            </div>
            <div id="inputSeatsCount" class="form-group">
                <h4 id="hallName" class="app-form-h4"></h4>
            </div>

            <button class="btn btn-danger app-form-submit" type="submit">ADD CINEMA</button>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-action="Categories" asp-controller="Category" asp-route-id="1" method="get">
            <button type="submit" class="btn btn-info app-form-submit"> <i class="glyphicon glyphicon-arrow-left"></i> BACK TO LIST</button>
        </form>
    </div>
</div>
<script>

    var sliderHallsCount = document.getElementById("cinemaHallsCountSlider");

    var output = document.getElementById("showCinemaHallsCount");
    var seatsInputDiv = document.getElementById("inputSeatsCount")
    var hallsCount = sliderHallsCount.value;
    createSliders(3);
    var slidersSeatsCount = document.getElementsByClassName("seatsCountSlider");
    var slidersSeatsCounters = document.getElementsByClassName("seatsCounter");
    output.innerHTML = sliderHallsCount.value; 

    sliderHallsCount.oninput = function () {
        hallsCount = sliderHallsCount.value;
        seatsInputDiv.innerHTML = "";
        output.innerHTML = this.value;
        createSliders(hallsCount);
    }
    function seatsCountSliderChange(slider) {
        var seatsCounters = document.getElementsByClassName("seatsCounter");

        var arr = Array.prototype.slice.call(seatsCounters);
        arr.forEach(counter => showSeatsCount(counter, slider));
        };
    function showSeatsCount(counter, slider) {
        var seatsCount = slider.value;
        var sliderId = slider.getAttribute("id").substr(1, 1);
        var counterId = counter.getAttribute("id").substr(1, 1);
        console.log(counterId)

        if (sliderId == counterId) {
            hallNumber = parseInt(sliderId) + 1;
            counter.innerHTML = "Hall " + hallNumber + " seats :"  + seatsCount;
        }
    };
    function createSliders(count) {
        for (let i = 0; i < count; i++) {
            var seatSLider = document.createElement("INPUT");
            seatSLider.setAttribute("type", "range");
            seatSLider.setAttribute("min", "1");
            seatSLider.setAttribute("max", "500");
            seatSLider.setAttribute("value", "250");
            seatSLider.setAttribute("name", "hall"+i);
            seatSLider.setAttribute("class", "seatsCountSlider");
            seatSLider.setAttribute("id", "s"+i);
            seatSLider.setAttribute("oninput", "seatsCountSliderChange(this)");

            var showSeatsCount = document.createElement("H4");
            showSeatsCount.setAttribute("class", "app-form-h4 seatsCounter");
            showSeatsCount.setAttribute("id", "c"+i);
            seatsInputDiv.appendChild(showSeatsCount)
            seatsInputDiv.appendChild(seatSLider);
        }
    }


</script>