@model StarCinema.Models.CRUDModels.CinemaModels.AddEditCinemaViewModel
@{
    ViewData["Title"] = "Edit cinema";
    Layout = "~/Views/Shared/_CRUDLayout.cshtml";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form app-form" method="post" asp-action="EditCinema" asp-controller="Cinema">
            <input type="hidden" asp-for="@Model.Request.CinemaId" value="@Model.CinemaId" />
            <h2 class="app-form-h2"> <i class="glyphicon glyphicon-plus"></i> EDIT CINEMA</h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <h4 class="app-form-h4">City</h4>
                <select class="app-form-select" asp-for="Request.CityId" asp-items="@Model.AllCities"></select>
            </div>
            <div class="form-group">
                <h4 class="app-form-h4">Street</h4>
                <input class="app-form-input" value="@Model.Street" placeholder="Street" asp-for="Request.Street" />
            </div>
            <div class="form-group">
                <h4 class="app-form-h4">Postal code</h4>
                <input class="app-form-input" value="@Model.PostalCode" placeholder="Postal code" asp-for="Request.PostalCode" />
            </div>
            <div class="form-group">
                <h4 class="app-form-h4">Building number</h4>
                <input class="app-form-input" value="@Model.BuildingNumber" placeholder="Building number" asp-for="Request.BuildingNumber" />
            </div>
            @{ int counter = 1;}
            @for (int i = 0; i < Model.CinemaHallsCount; i++)
            {
                <h4 class="app-form-h4">Hall @counter name</h4>

                <div class="form-group">
                    <input type="hidden" asp-for="@Model.Request.CinemaHalls[i].CinemaHallId" value="@Model.CinemaHalls[i].CinemaHallId" />
                    <input class="app-form-input" value="@Model.CinemaHalls[i].Name" placeholder="Hall name" asp-for="@Model.Request.CinemaHalls[i].Name" />
                </div>
                counter++;
            }
            <button class="btn btn-danger app-form-submit" type="submit">SAVE</button>
        </form>
        <br/>
        <form class="form app-form" method="get" asp-action="AddHallsToExistingCinema" asp-controller="Cinema">
            <h4 class="app-form-h4">Add new halls</h4>

            <input type="hidden" name="cinemaId" value="@Model.CinemaId" />
            <div class="form-group">
                <input class="app-form-input" placeholder="New halls count" type="number" name="hallsCount" />
            </div>
            <button class="btn btn-success app-form-submit" type="submit">ADD NEW HALLS</button>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-action="Cinemas" asp-controller="Cinema" method="get">
            <button type="submit" class="btn btn-info app-form-submit"> <i class="glyphicon glyphicon-arrow-left"></i> BACK TO LIST</button>
        </form>
    </div>
</div>
<br/>