@model IEnumerable<StarCinema.Models.CRUDModels.MovieViewModel>
@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_CRUDLayout.cshtml";
    int i = 0;
}

<h2 class="app-form-h2">Movies</h2>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <form asp-action="AddMovie" asp-controller="Movie" method="get">
            <button type="submit" class="btn btn-success app-form-submit"><i class="glyphicon glyphicon-plus"></i> ADD MOVIE</button>
        </form>
    </div>
</div>
<br />
<div class="row">

    <div class="col-lg-12">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Poster</td>
                        <td>
                            <a asp-controller="Movie" asp-action="SortMoviesByTitleAsc">
                                <i class="glyphicon glyphicon-triangle-top"></i>
                            </a>
                            Title
                            <a asp-controller="Movie" asp-action="SortMoviesByTitleDesc">
                                <i class="glyphicon glyphicon-triangle-bottom"></i>
                            </a>
                        <td>
                            <a asp-controller="Movie" asp-action="SortMoviesByCategoryAsc">
                                <i class="glyphicon glyphicon-triangle-top"></i>
                            </a>
                            Category
                            <a asp-controller="Movie" asp-action="SortMoviesByCategoryDesc">
                                <i class="glyphicon glyphicon-triangle-bottom"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Movie" asp-action="SortMoviesByDateAsc">
                                <i class="glyphicon glyphicon-triangle-top"></i>
                            </a>                            Release date
                            <a asp-controller="Movie" asp-action="SortMoviesByDateDesc">
                                <i class="glyphicon glyphicon-triangle-bottom"></i>
                            </a>
                        </td>
                        <td>Comments</td>
                        <td>Shows</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model)
                    {
                        i++;
                        var imgSrc = "../images/MoviesPosters/" + c.Id.ToString() + ".jpg";

                        <tr>
                            <td>@i</td>
                            <td><img class="img-table" src="@imgSrc" /></td>
                            <td>@c.Title</td>
                            <td>@c.Category</td>
                            <td>@c.ReleaseDate.ToShortDateString()</td>
                            <td><button type="button" class="app-form-table-submit btn btn-info"><i class="glyphicon glyphicon-comment"></i> COMMENTS</button></td>
                            <td><button type="button" class="app-form-table-submit btn btn-info"><i class="glyphicon glyphicon-film"></i> SHOWS</button></td>
                            <td>
                                <form class="app-form-table" asp-action="RemoveMovie" asp-controller="Movie">
                                    <input type="hidden" name="movieId" value="@c.Id" />
                                    <button type="submit" class="btn btn-xs btn-danger app-form-table-submit"><i class="glyphicon glyphicon-remove"></i> DELETE</button>
                                </form>
                                <form class="app-form-table" method="get" asp-action="EditMovie" asp-controller="Movie">
                                    <input type="hidden" name="movieId" value="@c.Id" />
                                    <button type="submit" class="btn btn-xs btn-warning app-form-table-submit"><i class="glyphicon glyphicon-pencil"></i> EDIT</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
