@model StarCinema.Models.ListingViewModel<StarCinema.Models.CRUDModels.MovieModels.MovieListingViewModel>;
@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_CRUDLayout.cshtml";
    int i = 0;
}

<h2 class="app-form-h2">AddEditMovies</h2>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <form asp-action="AddMovie" asp-controller="Movie" method="get">
            <button type="submit" class="btn btn-success app-form-submit"><i class="glyphicon glyphicon-plus"></i> ADD MOVIE</button>
        </form>
    </div>
</div>
<br />
<div class="row">

    <div class="col-lg-12">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Poster</td>
                        <td>
                            <a asp-controller="Movie" asp-action="Movies" asp-route-orderBy="TitleAsc">
                                <i class="glyphicon glyphicon-triangle-top"></i>
                            </a>
                            Title
                            <a asp-controller="Movie" asp-action="Movies" asp-route-orderBy="TitleDesc">
                                <i class="glyphicon glyphicon-triangle-bottom"></i>
                            </a>
                        <td>
                            <a asp-controller="Movie" asp-action="Movies" asp-route-orderBy="CategoryAsc">
                                <i class="glyphicon glyphicon-triangle-top"></i>
                            </a>
                            Category
                            <a asp-controller="Movie" asp-action="Movies" asp-route-orderBy="CategoryDesc"> 
                                <i class="glyphicon glyphicon-triangle-bottom"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Movie" asp-action="Movies" asp-route-orderBy="ReleaseDateAsc">
                                <i class="glyphicon glyphicon-triangle-top"></i>
                            </a>                            
                            Release date
                            <a asp-controller="Movie" asp-action="Movies" asp-route-orderBy="ReleaseDateDesc">
                                <i class="glyphicon glyphicon-triangle-bottom"></i>
                            </a>
                        </td>
                        <td>Comments</td>
                        <td>Shows</td>
                        <td>Bookings</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                @if (!Model.Models.Any())
                {
                    <h2>No results found</h2>
                }

                @foreach (var c in Model.Models)
                    {
                        i++;
                        var imgSrc = "/images/MoviesPosters/" + c.Id.ToString() + ".jpg";

                <tr>
                    <td>@i</td>
                    <td><img class="img-table" src="@imgSrc" /></td>
                    <td>
                        <a class="movie-card-a" asp-action="ShowMovie" asp-controller="Movie" asp-route-movieId="@c.Id">
                            @c.Title
                        </a>
                    </td>
                    <td>@c.Category</td>
                    <td>@c.ReleaseDate.ToShortDateString()</td>
                    <td>
                        <form class="app-form-table" asp-action="MovieComments" asp-controller="Comment">
                            <input type="hidden" name="movieId" value="@c.Id" />
                            <button type="submit" class="app-form-table-submit btn btn-info"><i class="glyphicon glyphicon-comment"></i> COMMENTS</button>
                        </form>
                    </td>
                    <td>
                        <form class="app-form-table" asp-action="Shows" asp-controller="Show" method="get">
                            <input type="hidden" name="movieId" value="@c.Id" />
                            <button type="submit" class="app-form-table-submit btn btn-info"><i class="glyphicon glyphicon-film"></i> SHOWS</button>
                        </form>
                    </td>
                    <td>
                        <form class="app-form-table" asp-action="Bookings" asp-controller="Booking" method="get">
                            <input type="hidden" name="movieId" value="@c.Id" />
                            <button type="submit" class="app-form-table-submit btn btn-info"><i class="glyphicon glyphicon-film"></i> BOOKINGS</button>
                        </form>
                    </td>
                    <td>
                        <form class="app-form-table" asp-action="RemoveMovie" asp-controller="Movie">
                            <input type="hidden" name="movieId" value="@c.Id" />
                            <button type="submit" class="btn btn-xs btn-danger app-form-table-submit"><i class="glyphicon glyphicon-remove"></i> DELETE</button>
                        </form>
                        <form class="app-form-table" method="get" asp-action="EditMovie" asp-controller="Movie">
                            <input type="hidden" name="movieId" value="@c.Id" />
                            <button type="submit" class="btn btn-xs btn-warning app-form-table-submit"><i class="glyphicon glyphicon-pencil"></i> EDIT</button>
                        </form>
                    </td>
                </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
</div>


@{
    int nextPage = Model.PagingInfo.CurrentPage == Model.PagingInfo.TotalPages ? Model.PagingInfo.CurrentPage : Model.PagingInfo.CurrentPage + 1;
    int prevPage = Model.PagingInfo.CurrentPage == 1 ? Model.PagingInfo.CurrentPage : Model.PagingInfo.CurrentPage - 1;
    int startPage = Model.PagingInfo.CurrentPage >= 10 ? Model.PagingInfo.CurrentPage : 1;
}


<div class="row">
    <div class="col-sm-12">
        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a asp-action="Movies" asp-controller="Movie" asp-route-orderBy="@Model.OrderBy" asp-route-page="1" class="page-link">
                        <i class="glyphicon glyphicon-fast-backward"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a asp-action="Movies" asp-controller="Movie" asp-route-orderBy="@Model.OrderBy" asp-route-page="@prevPage" class="page-link"><i class="glyphicon glyphicon-backward"></i></a>
                </li>

                @for (int j = startPage; j <= Model.PagingInfo.TotalPages; j++)
                {
                    if (j == Model.PagingInfo.CurrentPage)
                    {
                        <li class="page-item active"><a asp-action="Movies" asp-controller="Movie" asp-route-orderBy="@Model.OrderBy" asp-route-page="@j" class="page-link">@j</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a asp-action="Movies" asp-controller="Movie" asp-route-orderBy="@Model.OrderBy"  asp-route-page="@j" class="page-link">@j</a></li>
                    }
                }
                <li class="page-item">
                    <a asp-action="Movies" asp-controller="Movie" asp-route-orderBy="@Model.OrderBy" asp-route-page="@nextPage" class="page-link"><i class="glyphicon glyphicon-forward"></i></a>
                </li>
                <li class="page-item">
                    <a asp-action="Movies" asp-controller="Movie" asp-route-orderBy="@Model.OrderBy" asp-route-page="@Model.PagingInfo.TotalPages" class="page-link"><i class="glyphicon glyphicon-fast-forward"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>


