@model IEnumerable<StarCinema.Models.CRUDModels.MovieViewModel>
@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_CRUDLayout.cshtml";
    int i = 0;
}

<h2 class="app-form-h2">Movies</h2>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <form asp-action="AddMovie" asp-controller="Movie" method="get">
            <button type="submit" class="btn btn-success app-form-submit"><i class="glyphicon glyphicon-plus"></i> ADD MOVIE</button>
        </form>
    </div>
</div>
<br />
<div class="row">

    <div class="col-lg-12">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Poster</td>
                        <td>Title</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Release Date</td>
                        <td>Comments</td>
                        <td>Shows</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model)
                    {
                        i++;
                    <tr>
                        <td>@i</td>
                        <td><img class="img-table" src="~/images/MoviesPosters/123.jpg" /></td>
                        <td>@c.Title</td>
                        <td>@c.Description.Substring(0,12) ...</td>
                        <td>@c.Category</td>
                        <td>@c.ReleaseDate.ToShortDateString()</td>
                        <td><button type="button" class="app-form-table-submit btn btn-info">COMMENTS</button></td>
                        <td><button type="button" class="app-form-table-submit btn btn-info">SHOWS</button></td>
                        <td>
                            <form class="app-form-table" asp-action="RemoveCategory" asp-controller="Category">
                                <input type="hidden" name="categoryName" value="@c.Id" />
                                <button type="submit" class="btn btn-xs btn-danger app-form-table-submit"><i class="glyphicon glyphicon-remove"></i> DELETE</button>
                            </form>
                            <form class="app-form-table" asp-action="RemoveCategory" asp-controller="Category">
                                <input type="hidden" name="categoryName" value="@c.Id" />
                                <button type="submit" class="btn btn-xs btn-warning app-form-table-submit"><i class="glyphicon glyphicon-pencil"></i> EDIT</button>
                            </form>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
