@model List<StarCinema.Models.CRUDModels.MovieModels.SearchMoviesViewModel>
@{
    ViewData["Title"] = "MoviesFromCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h2><i class="glyphicon glyphicon-th-lis"></i>Movie search results</h2>
        <hr />
    </div>
</div>

@if (!Model.Any())
{
    <h2>No results found</h2>
}

@foreach (var movie in Model)
{
    var imgSrc = "../../images/MoviesPosters/" + movie.MovieId + ".jpg";
    <div class="row list-movie-panel">
        <div class="col-md-3">
            <img class="" src="@imgSrc" alt="...">
        </div>
        <div class="col-md-9">
            <a class="movie-card-a" asp-action="ShowMovie" asp-controller="Movie" asp-route-id="@movie.MovieId">
                <h2><i class="glyphicon glyphicon-film"></i> @movie.Title</h2>
            </a>
            <h4><i class="glyphicon glyphicon-calendar"></i> Release: @movie.ReleaseDate.ToShortDateString()</h4>
            <p>@movie.Description</p>
            <h4><i class="glyphicon glyphicon-comment"></i> Comments: @movie.CommentsCount</h4>
            <br/>
            <form method="get" asp-action="ShowMovie" asp-controller="Movie">
                <input type="hidden" name="movieId" value="@movie.MovieId" />
                <button class="btn btn-warning btn-big"> <i class="glyphicon glyphicon-zoom-in"></i> SHOW MORE</button>
            </form>
            <br />
        </div>
    </div>
    <br />
}